Repository matsuokashuhei/morrow-II: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto

  ignore:
    - "**/*_test.go"
    - "**/*.test.tsx"
    - "**/*.test.ts"
    - "**/node_modules"
    - "**/vendor"
    - "**/tmp"
    - "**/coverage"
    - "frontend/web-build"
    - "backend/tmp"

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false

Fix e2e test Playwright command resolution
  docs/SOW_CI_E2E_Playwright_Command_Resolution.md
  docs/SOW_CI_Frontend_Test_Failures_Resolution.md
  docs/SOW_CI_TypeScript_Errors_Resolution.md
  frontend/src/__tests__/components/EventCard.debug.test.tsx
  playwright/package.json
Due: frontend

docs: Update SOW CI E2E Playwright Command Resolution monitoring status
  docs/SOW_CI_E2E_Playwright_Command_Resolution.md
Due: none

fix: async handling in event-detail e2e test
  playwright/tests/event-detail.spec.ts
Due: none

fix: navigation test-id mismatch causing E2E failures
  docs/SOW_CI_Final_Resolution_Complete.md
  docs/SOW_CI_Navigation_Fix.md
  frontend/src/components/ui/Navigation.tsx
  playwright/e2e/reports/connectivity-test.png
  playwright/tests/event-list.spec.ts
Due: frontend

fix: prettier formatting for Navigation.tsx
  docs/SOW_CI_Navigation_Fix.md
  frontend/src/components/ui/Navigation.tsx
  playwright/e2e/reports/connectivity-test.png
Due: frontend

docs: complete CI navigation fix verification and Docker Compose solution
  docs/SOW_CI_Navigation_Fix.md
Due: none

Fix Playwright Docker dependencies for CI environment
  playwright/Dockerfile
  playwright/e2e/reports/connectivity-test.png
Due: none

Fix E2E CI: Resolve @playwright/test dependency issues
  playwright/Dockerfile
  playwright/package.json
Due: none

fix(ci): resolve E2E test failures in GitHub Actions
  backend/internal/database/database.go
  playwright/Dockerfile
Due: backend

fix(backend): correct database health check implementation
  backend/internal/database/database.go
Due: backend

fix
  .gitignore
  playwright/package-lock.json
Due: none

fix(ci): make Playwright Dockerfile resilient to missing package-lock.json
  playwright/Dockerfile
Due: none

fix: Resolve Playwright @playwright/test module not found error in CI
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  docker-compose.yml
  docs/SOW_CI_E2E_Complete_Resolution.md
  playwright/Dockerfile
  playwright/e2e/reports/connectivity-test.png
  playwright/package-lock.json
  playwright/package.json
Due: none
