Repository matsuokashuhei/morrow-II: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto

  ignore:
    - "**/*_test.go"
    - "**/*.test.tsx"
    - "**/*.test.ts"
    - "**/node_modules"
    - "**/vendor"
    - "**/tmp"
    - "**/coverage"
    - "frontend/web-build"
    - "backend/tmp"

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false

Fix GitHub Copilot review comments: Apollo Client optimization, mutation wrappers, type safety improvements
  frontend/src/components/DataListSection.tsx
  frontend/src/graphql/hooks/useParticipants.ts
Due: frontend

fix: address GitHub Copilot review comments - conditional status indicator and remove unused dependency
  frontend/package.json
  frontend/src/screens/GraphQLTestScreen.tsx
Due: frontend

Implement event creation functionality
  docs/SOW_Issue16_EventCreation.md
  frontend/App.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/forms/EventCreationForm.tsx
  frontend/src/components/forms/EventDateTimeSection.tsx
  frontend/src/components/forms/EventDetailsSection.tsx
  frontend/src/components/forms/index.ts
  frontend/src/constants/routes.ts
  frontend/src/hooks/useCreateEvent.ts
  frontend/src/screens/EventCreationScreen.tsx
  frontend/src/screens/HomeScreen.tsx
  frontend/src/utils/eventValidation.ts
Due: frontend

Fix CI issues: remove failing tests and fix formatting
  docs/SOW_Issue16_EventCreation.md
  frontend/App.tsx
  frontend/src/__tests__/HomeScreen.test.tsx
  frontend/src/components/forms/EventCreationForm.tsx
  frontend/src/components/forms/EventDateTimeSection.tsx
  frontend/src/components/forms/EventDetailsSection.tsx
  frontend/src/hooks/useCreateEvent.ts
  frontend/src/screens/EventCreationScreen.tsx
  frontend/src/screens/GraphQLTestScreen.tsx
  frontend/src/utils/eventValidation.ts
Due: frontend

fix: Address GitHub Copilot review comments for event creation
  frontend/src/components/forms/EventCreationForm.tsx
  frontend/src/components/forms/EventDateTimeSection.tsx
  frontend/src/components/forms/EventDetailsSection.tsx
  frontend/src/components/forms/__tests__/EventCreationForm.test.tsx
  frontend/src/utils/eventValidation.ts
Due: frontend

fix: Address latest GitHub Copilot review comments
  frontend/src/components/forms/EventCreationForm.tsx
  frontend/src/screens/HomeScreen.tsx
Due: frontend

fix: resolve EventCreationForm test failures and integrate Yup validation
  frontend/src/components/forms/EventCreationForm.tsx
  frontend/src/components/forms/__tests__/EventCreationForm.test.tsx
  frontend/src/utils/eventValidation.ts
Due: frontend

Fix GitHub Copilot review comments: preserve ApolloError context and optimize React performance
  frontend/src/components/forms/EventCreationForm.tsx
  frontend/src/hooks/useCreateEvent.ts
Due: frontend

refactor: integrate React Hook Form with Yup validation in EventCreationForm and update EventDetailsSection for accessibility
  frontend/src/components/forms/EventCreationForm.tsx
  frontend/src/components/forms/EventDetailsSection.tsx
Due: frontend

docs: Update development plan with comprehensive progress tracking
  docs/05-planning/development-plan.md
Due: none

docs: update development plan progress for issue #17
  .github/copilot-instructions.md
  docs/05-planning/development-plan.md
  docs/SOW_Issue17_EventListDetail.md
  frontend/App.tsx
  frontend/src/screens/EventDetailScreen.tsx
  frontend/src/screens/EventListScreen.tsx
Due: frontend

style: fix prettier formatting in EventDetailScreen and EventListScreen
  frontend/src/screens/EventDetailScreen.tsx
  frontend/src/screens/EventListScreen.tsx
Due: frontend

fix: address Copilot review comments
  frontend/App.tsx
  frontend/src/screens/EventDetailScreen.tsx
  frontend/src/screens/EventListScreen.tsx
Due: frontend

feat: Add comprehensive Playwright E2E testing with CI/CD integration
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .gitignore
  Makefile
  docker-compose.yml
  docs/02-getting-started/development-workflow.md
  docs/02-getting-started/playwright-e2e-testing.md
  docs/04-architecture/tech-stack.md
  docs/README.md
  docs/SOW_PlaywrightE2E_Testing.md
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
  playwright/Dockerfile
  playwright/PERFORMANCE.md
  playwright/README.md
  playwright/e2e/reports/connectivity-test.png
  playwright/fixtures/test-data.ts
  playwright/package.json
  playwright/playwright.config.ts
  playwright/playwright.dev.config.ts
  playwright/playwright.smoke.config.ts
  playwright/tests/connectivity.spec.ts
  playwright/tests/event-creation.spec.ts
  playwright/tests/event-detail.spec.ts
  playwright/tests/event-list.spec.ts
  playwright/tests/graphql-test.spec.ts
  playwright/tests/home.spec.ts
  playwright/tests/onboarding.spec.ts
  playwright/tsconfig.json
  playwright/utils/page-objects.ts
  playwright/utils/test-helpers.ts
Due: none

feat: Implement notification system and address Copilot review comments
  frontend/App.tsx
  frontend/src/components/ui/NotificationContainer.tsx
  frontend/src/contexts/NotificationContext.tsx
  frontend/src/screens/EventDetailScreen.tsx
  frontend/src/screens/EventListScreen.tsx
  frontend/src/utils/environment.ts
  frontend/vite-env.d.ts
  playwright/Dockerfile
  playwright/e2e/reports/connectivity-test.png
  playwright/fixtures/test-data.ts
  playwright/playwright.config.ts
  playwright/tests/connectivity.spec.ts
  playwright/tests/event-creation.spec.ts
  playwright/tests/graphql-test.spec.ts
  playwright/utils/test-helpers.ts
Due: frontend

feat: Address additional Copilot review comments
  frontend/src/graphql/__tests__/implementation-summary.test.ts
  frontend/src/graphql/__tests__/simple.test.ts
  frontend/src/graphql/client.ts
  frontend/src/graphql/constants.ts
  frontend/src/graphql/hooks/useMutationWrapper.ts
  frontend/src/screens/GraphQLTestScreen.tsx
  playwright/Dockerfile
  playwright/tests/connectivity.spec.ts
  playwright/tests/event-creation.spec.ts
  playwright/utils/test-helpers.ts
Due: frontend

feat: Improve Playwright test success rate from 15% to 98%
  frontend/App.tsx
  frontend/e2e/fixtures/test-data.ts
  frontend/e2e/tests/connectivity.spec.ts
  frontend/e2e/tests/event-creation.spec.ts
  frontend/e2e/tests/home.spec.ts
  frontend/e2e/tests/onboarding.spec.ts
  frontend/e2e/utils/page-objects.ts
  frontend/e2e/utils/test-helpers.ts
  frontend/playwright.config.ts
  frontend/src/__tests__/screens/OnboardingScreen.test.tsx
  frontend/src/components/DataListSection.tsx
  frontend/src/components/EventCard.tsx
  frontend/src/components/forms/EventCreationForm.tsx
  frontend/src/components/forms/EventDateTimeSection.tsx
  frontend/src/components/forms/EventDetailsSection.tsx
  frontend/src/components/forms/FormContainer.tsx
  frontend/src/components/forms/FormField.tsx
  frontend/src/components/ui/Navigation.tsx
  frontend/src/screens/EventCreationScreen.tsx
  frontend/src/screens/EventDetailScreen.tsx
  frontend/src/screens/EventListScreen.tsx
  frontend/src/screens/GraphQLTestScreen.tsx
  frontend/src/screens/HomeScreen.tsx
  frontend/src/screens/OnboardingScreen.tsx
  frontend/src/utils/eventValidation.ts
  playwright/e2e/reports/connectivity-test.png
  playwright/tests/event-creation.spec.ts
  playwright/tests/event-detail.spec.ts
  playwright/tests/event-list.spec.ts
  playwright/tests/graphql-test.spec.ts
  playwright/tests/home.spec.ts
  playwright/tests/onboarding.spec.ts
  playwright/utils/page-objects.ts
  playwright/utils/test-helpers.ts
Due: frontend

cleanup: Remove empty frontend/e2e placeholder files
  frontend/e2e/fixtures/test-data.ts
  frontend/e2e/tests/connectivity.spec.ts
  frontend/e2e/tests/event-creation.spec.ts
  frontend/e2e/tests/home.spec.ts
  frontend/e2e/tests/onboarding.spec.ts
  frontend/e2e/utils/page-objects.ts
  frontend/e2e/utils/test-helpers.ts
  frontend/playwright.config.ts
Due: none

cleanup: Remove duplicate configuration files
  frontend/jest.setup.js
  frontend/vite-env.d.ts
Due: none

Fix Prettier formatting issues and improve documentation
  frontend/App.tsx
  frontend/src/components/EventCard.tsx
  frontend/src/components/forms/EventCreationForm.tsx
  frontend/src/components/forms/FormContainer.tsx
  frontend/src/components/ui/NotificationContainer.tsx
  frontend/src/contexts/NotificationContext.tsx
  frontend/src/graphql/hooks/useMutationWrapper.ts
  frontend/src/screens/EventCreationScreen.tsx
  frontend/src/screens/EventDetailScreen.tsx
  frontend/src/screens/EventListScreen.tsx
  frontend/src/screens/GraphQLTestScreen.tsx
  frontend/src/screens/HomeScreen.tsx
  frontend/src/screens/OnboardingScreen.tsx
  frontend/src/utils/environment.ts
  playwright/utils/test-helpers.ts
Due: frontend

Fix CI test failures
  frontend/src/components/forms/__tests__/EventCreationForm.test.tsx
  frontend/src/utils/environment.ts
Due: frontend

fix: Handle import.meta environment compatibility in Jest
  frontend/src/utils/environment.ts
Due: frontend

fix: Remove empty test file causing CI failure
  frontend/vite-env.d.ts
Due: none

fix: Complete CI test infrastructure improvements
  Makefile
  frontend/__mocks__/environment.js
  frontend/jest.config.json
  frontend/src/utils/environment.ts
Due: frontend

style: Clean up trailing whitespace in environment.ts
  frontend/src/utils/environment.ts
Due: frontend

feat: Add golangci-lint to backend container and update linting workflow
  Makefile
  backend/Dockerfile.dev
  backend/cmd/test-ent/main.go
  backend/graph/resolver.go
  backend/graph/resolvers.go
  backend/internal/config/config_test.go
  backend/internal/database/database.go
  backend/internal/handler/health.go
  backend/internal/middleware/logger.go
  backend/internal/middleware/logger_test.go
  frontend/__mocks__/environment.js
  frontend/src/components/forms/__tests__/EventCreationForm.test.tsx
  frontend/src/utils/environment.ts
Due: backend, frontend

fix: address unresolved PR review comments
  frontend/src/contexts/NotificationContext.tsx
  frontend/src/screens/EventListScreen.tsx
  frontend/src/utils/environment.ts
  playwright/tests/event-creation.spec.ts
  playwright/tests/event-detail.spec.ts
  playwright/tests/onboarding.spec.ts
Due: frontend

feat: enhance pre-commit validation and code formatting
  Makefile
  frontend/src/screens/EventListScreen.tsx
Due: frontend

refactor: Extract utility functions and improve code organization
  frontend/src/components/ui/Navigation.tsx
  frontend/src/screens/EventDetailScreen.tsx
  frontend/src/screens/EventListScreen.tsx
  frontend/src/screens/HomeScreen.tsx
  frontend/src/store/index.ts
  frontend/src/utils/dateUtils.ts
  frontend/src/utils/environment.ts
  frontend/src/utils/eventUtils.ts
  playwright/utils/page-objects.ts
  playwright/utils/retry-helpers.ts
Due: frontend

feat: Implement comprehensive SOW fixes for PR #29 review comments
  frontend/src/screens/EventDetailScreen.tsx
  frontend/src/screens/EventListScreen.tsx
  frontend/src/utils/environment.ts
  frontend/src/utils/notificationHelpers.ts
  playwright/e2e/reports/connectivity-test.png
  playwright/fixtures/test-data.ts
  playwright/tests/event-creation.spec.ts
  playwright/utils/page-objects.ts
  playwright/utils/retry-helpers.ts
  playwright/utils/test-helpers.ts
Due: frontend

Update frontend/src/utils/environment.ts
  frontend/src/utils/environment.ts
Due: frontend

Update playwright/utils/retry-helpers.ts
  playwright/utils/retry-helpers.ts
Due: none

Update playwright/tests/graphql-test.spec.ts
  playwright/tests/graphql-test.spec.ts
Due: none

Update playwright/tests/connectivity.spec.ts
  playwright/tests/connectivity.spec.ts
Due: none

fix: resolve TypeScript compilation errors in environment utility
  docs/SOW_CI_TypeScript_Errors_Resolution.md
  frontend/src/utils/environment.ts
Due: frontend

style: fix Prettier formatting issues in 4 frontend files
  docs/SOW_CI_TypeScript_Errors_Resolution.md
  frontend/src/screens/EventDetailScreen.tsx
  frontend/src/screens/EventListScreen.tsx
  frontend/src/utils/environment.ts
  frontend/src/utils/notificationHelpers.ts
Due: frontend

fix: resolve frontend test failures in EventCard.test.tsx
  docs/SOW_CI_Frontend_Test_Failures_Resolution.md
  frontend/src/__tests__/components/EventCard.test.tsx
Due: frontend

Fix e2e-test Playwright setup
  docker-compose.yml
  playwright/tests/connectivity.spec.ts
Due: none

docs: Update SOW documentation with E2E test resolution status
  docs/SOW_CI_E2E_Playwright_Installation_Failure.md
Due: none
