Repository matsuokashuhei/morrow-II: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

docs: add Go-in-docker execution rule to prevent future omissions
  docs/development/ci-cd-rules.md
Due: none

docs: 🎉 ドキュメント大幅リニューアル - v2.0.0
  README.md
  backend/graph/resolvers.go
  backend/server.go
  backend/test_graphql.sh
  docs/01-overview/project-overview.md
  docs/01-overview/project-structure.md
  docs/02-getting-started/development-guidelines.md
  docs/02-getting-started/development-setup.md
  docs/02-getting-started/development-workflow.md
  docs/02-getting-started/troubleshooting.md
  docs/03-api/README.md
  docs/04-architecture/README.md
  docs/04-architecture/backend-api-structure.md
  docs/04-architecture/tech-stack.md
  docs/05-planning/README.md
  docs/05-planning/development-plan.md
  docs/05-planning/requirements.md
  docs/06-deployment/README.md
  docs/06-deployment/ci-cd.md
  docs/07-appendix/changelog.md
  docs/07-appendix/glossary.md
  docs/07-appendix/references.md
  docs/DEVELOPER_GUIDE.md
  docs/PROJECT_STRUCTURE.md
  docs/README.md
  docs/development/docker-setup.md
  docs/development/github-issues-data.md
  docs/development/testing-guide.md
Due: backend

feat: implement frontend basic setup and UI components
  frontend/App.tsx
  frontend/Dockerfile.dev
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/Button.test.tsx
  frontend/src/__tests__/Card.test.tsx
  frontend/src/__tests__/Container.test.tsx
  frontend/src/__tests__/HomeScreen.test.tsx
  frontend/src/__tests__/OnboardingScreen.test.tsx
  frontend/src/__tests__/SplashScreen.test.tsx
  frontend/src/__tests__/Text.test.tsx
  frontend/src/components/Button.tsx
  frontend/src/components/Card.tsx
  frontend/src/components/Container.tsx
  frontend/src/components/Text.tsx
  frontend/src/components/index.ts
  frontend/src/screens/HomeScreen.tsx
  frontend/src/screens/OnboardingScreen.tsx
  frontend/src/screens/SplashScreen.tsx
  frontend/src/screens/index.ts
  frontend/src/store/appStore.ts
  frontend/src/store/index.ts
  frontend/src/theme/colors.ts
  frontend/src/theme/index.ts
  frontend/src/theme/spacing.ts
  frontend/src/theme/typography.ts
Due: frontend

feat: migrate frontend from React Native to React
  README.md
  frontend/.eslintrc.cjs
  frontend/App.tsx
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/app.json
  frontend/babel.config.js
  frontend/index.html
  frontend/jest.config.json
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/__tests__/App.test.tsx
  frontend/src/__tests__/HomeScreen.test.tsx
  frontend/src/__tests__/basic.test.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/screens/HomeScreen.tsx
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: frontend

feat: apply GitHub Copilot code review improvements
  README.md
  frontend/.eslintrc.cjs
  frontend/App.tsx
  frontend/jest.config.json
  frontend/src/__tests__/HomeScreen.test.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/index.ts
  frontend/src/screens/HomeScreen.tsx
  frontend/src/types/index.ts
  frontend/src/utils/cn.ts
  frontend/src/utils/test-utils.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: frontend

Revert "feat: apply GitHub Copilot code review improvements"
  README.md
  frontend/.eslintrc.cjs
  frontend/App.tsx
  frontend/jest.config.json
  frontend/src/__tests__/HomeScreen.test.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/index.ts
  frontend/src/screens/HomeScreen.tsx
  frontend/src/types/index.ts
  frontend/src/utils/cn.ts
  frontend/src/utils/test-utils.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: frontend

fix: resolve Jest configuration issues for frontend tests
  frontend/.babelrc.json
  frontend/babel.config.js
  frontend/jest.config.json
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/index.ts
  frontend/src/screens/HomeScreen.tsx
  frontend/src/types/index.ts
  frontend/src/utils/cn.ts
  frontend/src/utils/test-utils.tsx
  frontend/tsconfig.json
Due: frontend

fix: remove conflicting babel.config.js file
  frontend/babel.config.js
Due: none

fix: improve Jest and React Router configuration
  frontend/App.tsx
  frontend/jest.config.json
  frontend/jest.setup.js
  frontend/src/__tests__/HomeScreen.test.tsx
Due: frontend

fix: resolve TypeScript and Jest configuration issues
  frontend/.eslintrc.cjs
  frontend/App.tsx
  frontend/jest.config.json
  frontend/jest.setup.js
  frontend/jest.setup.ts
  frontend/src/__tests__/App.test.tsx
  frontend/src/__tests__/HomeScreen.test.tsx
  frontend/src/__tests__/basic.test.tsx
  frontend/src/main.tsx
  frontend/src/screens/HomeScreen.tsx
  frontend/src/types/jest-dom.d.ts
  frontend/vite.config.ts
Due: frontend

fix: resolve TypeScript and Prettier formatting issues
  frontend/.prettierrc.json
  frontend/App.tsx
  frontend/jest.config.json
  frontend/jest.setup.js
  frontend/package.json
  frontend/src/__tests__/HomeScreen.test.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/main.tsx
  frontend/src/screens/HomeScreen.tsx
Due: frontend

feat: Complete React Native to React migration cleanup
  README.md
  docker-compose.yml
  docs/01-overview/project-overview.md
  docs/01-overview/project-structure.md
  docs/02-getting-started/development-guidelines.md
  docs/02-getting-started/development-setup.md
  docs/02-getting-started/development-workflow.md
  docs/02-getting-started/troubleshooting.md
  docs/03-api/README.md
  docs/04-architecture/backend-api-structure.md
  docs/04-architecture/frontend-structure.md
  docs/04-architecture/tech-stack.md
  docs/05-planning/requirements.md
  docs/07-appendix/react-migration-summary.md
  frontend/.expo/README.md
  frontend/.expo/devices.json
  frontend/Dockerfile.dev
  frontend/package.json
Due: none

fix: Remove GraphQL endpoint duplication in backend docs
  docs/01-overview/project-structure.md
  docs/02-getting-started/development-setup.md
  docs/04-architecture/backend-api-structure.md
Due: none

fix: Address latest review comments
  docs/02-getting-started/development-guidelines.md
  docs/04-architecture/backend-api-structure.md
Due: none

docs: Fix remaining review comments
  docs/01-overview/project-structure.md
  docs/03-api/README.md
  docs/04-architecture/backend-api-structure.md
Due: none

docs: Address latest review comments
  docs/02-getting-started/development-workflow.md
  docs/04-architecture/backend-api-structure.md
Due: none

Update docs/01-overview/project-structure.md
  docs/01-overview/project-structure.md
Due: none

Checkpoint from VS Code for coding agent session
  PR_DESCRIPTION.md
Due: none

Fix GitHub Actions CI/CD pipeline to use Docker Compose for frontend tests
  .github/workflows/ci.yml
  docs/05-planning/development-plan.md
  frontend/src/__tests__/App.test.tsx
  frontend/src/__tests__/OnboardingScreen.test.tsx
  frontend/src/__tests__/UIComponents.test.tsx
Due: frontend

Revert CI to use Node.js runtime, update to Node.js 20 for consistency
  .github/workflows/ci.yml
Due: none

Fix CI frontend-test job: use npm install instead of npm ci to handle package-lock.json sync issues
  .github/workflows/ci.yml
Due: none

Fix code formatting with Prettier
  frontend/public/manifest.json
  frontend/src/__tests__/OnboardingScreen.test.tsx
  frontend/src/__tests__/UIComponents.test.tsx
  frontend/src/__tests__/components/Button.test.tsx
  frontend/src/__tests__/components/Input.test.tsx
  frontend/src/__tests__/components/Modal.test.tsx
  frontend/src/__tests__/screens/OnboardingScreen.test.tsx
  frontend/src/__tests__/store/stores.test.ts
  frontend/src/components/EventCard.tsx
  frontend/src/components/forms/DatePicker.tsx
  frontend/src/components/forms/FormContainer.tsx
  frontend/src/components/forms/TextArea.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/Layout.tsx
  frontend/src/components/ui/Loading.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/components/ui/ResponsiveContainer.tsx
  frontend/src/components/ui/Steps.tsx
  frontend/src/components/ui/Toast.tsx
  frontend/src/screens/HomeScreen.tsx
  frontend/src/screens/OnboardingScreen.tsx
  frontend/src/store/index.ts
  frontend/src/types/ui.ts
Due: frontend

Fix PR reviewer comments: improve modal scroll lock, add dark mode support, consolidate types, fix navigation, enhance ID generation
  .github/workflows/ci.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/Modal.tsx
  frontend/src/index.css
  frontend/src/screens/HomeScreen.tsx
  frontend/src/store/index.ts
  frontend/src/types/index.ts
  frontend/src/types/ui.ts
  frontend/src/utils/cn.ts
Due: frontend

Address PR review comments: CSS fixes, enhanced types, nanoid UUID, 4-step onboarding
  frontend/__mocks__/nanoid.js
  frontend/jest.config.json
  frontend/src/__tests__/OnboardingScreen.test.tsx
  frontend/src/__tests__/screens/OnboardingScreen.test.tsx
  frontend/src/index.css
  frontend/src/screens/HomeScreen.tsx
  frontend/src/screens/OnboardingScreen.tsx
  frontend/src/store/index.ts
Due: frontend

Fix CI/CD pipeline with enhanced Jest config and robust Docker workflow
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  frontend/__mocks__/nanoid.js
  frontend/jest.config.json
  frontend/src/__tests__/screens/OnboardingScreen.test.tsx
Due: frontend

Fix review comments: improve ID generation and CSS compatibility
  frontend/src/__tests__/HomeScreen.test.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/index.css
Due: frontend

Fix frontend test failure in HomeScreen component
  frontend/src/__tests__/HomeScreen.test.tsx
Due: frontend

Fix CI formatting issues
  frontend/.prettierignore
  frontend/src/__tests__/HomeScreen.test.tsx
Due: frontend

fix: Address latest PR review comments
  frontend/App.tsx
  frontend/src/__tests__/OnboardingScreen.test.tsx
  frontend/src/components/layout/Footer.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/Loading.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/components/ui/Navigation.tsx
  frontend/src/components/ui/ResponsiveContainer.tsx
  frontend/src/constants/routes.ts
  frontend/src/index.css
  frontend/src/screens/HomeScreen.tsx
  frontend/src/screens/OnboardingScreen.tsx
  frontend/src/types/index.ts
  frontend/src/types/screens.ts
  frontend/tailwind.config.js
Due: frontend

fix: Address PR review comments - fix ModalProps and add accessibility labels
  frontend/App.tsx
  frontend/src/components/EventCard.tsx
  frontend/src/types/ui.ts
Due: frontend

feat: implement GraphQL client setup with Apollo Client
  docs/05-planning/development-plan.md
  docs/SOW_Issue15_Completion_Report.md
  docs/SOW_Issue15_GraphQLClient.md
  frontend/.env.development
  frontend/App.tsx
  frontend/codegen.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/GraphQLTestComponent.tsx
  frontend/src/graphql/client.ts
  frontend/src/graphql/generated.ts
  frontend/src/graphql/hooks/index.ts
  frontend/src/graphql/hooks/useEvents.ts
  frontend/src/graphql/hooks/useParticipants.ts
  frontend/src/graphql/hooks/useUsers.ts
  frontend/src/graphql/queries/events.graphql
  frontend/src/graphql/queries/participants.graphql
  frontend/src/graphql/queries/users.graphql
  frontend/src/main.tsx
  frontend/src/screens/GraphQLTestScreen.tsx
  frontend/src/vite-env.d.ts
Due: frontend

feat: Add comprehensive unit tests for GraphQL implementation
  frontend/jest.setup.ts
  frontend/src/components/GraphQLTestComponent.tsx
  frontend/src/graphql/__tests__/TEST_SUMMARY.md
  frontend/src/graphql/__tests__/client.basic.test.ts
  frontend/src/graphql/__tests__/implementation-summary.test.ts
  frontend/src/graphql/__tests__/implementation.test.ts
  frontend/src/graphql/__tests__/simple.test.ts
  frontend/src/graphql/client.ts
  frontend/src/graphql/generated.ts
  frontend/src/graphql/hooks/__tests__/useEvents.basic.test.ts
  frontend/src/graphql/hooks/__tests__/useParticipants.basic.test.ts
  frontend/src/graphql/hooks/__tests__/useUsers.basic.test.ts
  frontend/src/graphql/hooks/useEvents.ts
  frontend/src/graphql/hooks/useParticipants.ts
  frontend/src/graphql/hooks/useUsers.ts
  frontend/src/graphql/testClient.ts
  frontend/src/screens/GraphQLTestScreen.tsx
  frontend/src/utils/test-apollo.tsx
Due: frontend

feat: Add additional GraphQL tests and documentation
  docs/SOW_Issue15_Completion_Report.md
  docs/SOW_Issue15_GraphQLClient.md
  frontend/src/graphql/hooks/__tests__/useEvents.test.ts
  frontend/src/graphql/hooks/__tests__/useUsers.test.ts
Due: frontend

fix: Apply Prettier formatting to test files
  frontend/src/graphql/hooks/__tests__/useEvents.test.ts
  frontend/src/graphql/hooks/__tests__/useUsers.test.ts
Due: frontend

fix: Address GitHub Copilot review comments
  frontend/src/components/GraphQLTestComponent.tsx
  frontend/src/utils/test-apollo.tsx
Due: frontend

refactor: Address GitHub Copilot review comments - Phase 2
  frontend/src/graphql/client.ts
  frontend/src/graphql/constants.ts
  frontend/src/graphql/hooks/useEvents.ts
  frontend/src/graphql/hooks/useParticipants.ts
  frontend/src/graphql/hooks/useUsers.ts
  frontend/src/graphql/testClient.ts
  frontend/src/screens/GraphQLTestScreen.tsx
  frontend/src/utils/test-apollo.tsx
Due: frontend

fix: Address GitHub Copilot review comments - Phase 3
  frontend/src/components/DataListSection.tsx
  frontend/src/graphql/hooks/useEvents.ts
  frontend/src/graphql/hooks/useParticipants.ts
  frontend/src/graphql/hooks/useUsers.ts
  frontend/src/screens/GraphQLTestScreen.tsx
Due: frontend

fix: improve type safety and Jest setup
  frontend/jest.setup.ts
  frontend/src/components/DataListSection.tsx
Due: frontend

refactor: extract shared mutation utilities to reduce code duplication
  frontend/src/graphql/hooks/useEvents.ts
  frontend/src/graphql/hooks/useMutationWrapper.ts
  frontend/src/graphql/hooks/useUsers.ts
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/src/
